@model Rinsen.Outback.App.Models.DeviceAuthorizationModel
@{
    Layout = "_LayoutIdentity";
}

@using (Html.BeginForm("Login", "Identity", FormMethod.Post, htmlAttributes: new { @class = "form-signin" }))
{
    <h1 class="h3 mb-3 font-weight-normal">Please authorize user code</h1>
    @Html.LabelFor(m => m.UserCode, "User code", htmlAttributes: new { @class = "sr-only" })
    @Html.TextBoxFor(m => m.UserCode, new { @type = "user_code", @class = "form-control", placeholder = "User code" })
    <div class="checkbox mb-3">
        <label>
            @Html.CheckBoxFor(m => m.Authorize)
            Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Authorize device</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019-@DateTime.Now.Year</p>
    @Html.AntiForgeryToken()
}